{
  "plugins": [
    [
      "module-resolver",
      {
        "root": "./",
        "alias": {
          "common": "./src/common",
          "resources": "./src/resources",
          "*": ["src/*", "node_modules/*"]
        }
      }
    ]
  ]
}
