# Default Extensions
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*.tgz
*.iml
*~

# OS/Editor Files/Folders
._*
.cache
.DS_Store
.project
.settings
.vscode
.tmproj
.idea
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
Thumbs.db

# NPM
node_modules

# Project Folders
.tscache
.awcache
.test
.fusebox
tmp
.build
build
*-dist
npm-debug*
#public
config/app/meta
